
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link href="https://fonts.googleapis.com/css2?family=Cal+Sans&display=swap"
      rel="stylesheet" />

<div class="landing">
    <div class="container">
        <p>Hello There !</p>
        <p>Welcome in Stomachco</p>
        <p>The Art Of Delivery .</p>
        <img src="~/images/Logo.png" alt="logo" />
    </div>
</div>
