
<div style="display:flex; justify-content:center ;margin:50px">
	<div class="m-5 w-50">
		@await Html.PartialAsync("Visa")
	</div>
	<div class ="m-5" style="width:400px;height:270px;margin-right:30px " >
		
		 @await Html.PartialAsync("Map")

	</div>
</div>