<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link href="https://fonts.googleapis.com/css2?family=Cal+Sans&display=swap"
      rel="stylesheet" />

<div class="landing">
    <div class="container">
        <p>Deliviery Over The World !</p>
        <i class="fa-solid fa-motorcycle fa-4x"></i>
    </div>
</div>